.formControl {
  display: flex;
  justify-content: center;
}
.formControl button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 50%;
  background: #808080;
  border-radius: 2px;
  padding: 0.5em;
  color: #f0f8ff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.formControl button:hover {
  background: #5b5b5b;
  color: #ffffff;
  box-shadow: -5px 5px 0px black;
  transition: 0.3s;
}
