.formControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.formControl label {
  margin-bottom: 0.6em;
  font-weight: bold;
}
.formControl input {
  display: flex;
  justify-content: center;
  width: 95%;
  padding: 0.7em;
  border-radius: 0;
  border: none;
}
.formControl input::placeholder {
  color: #808080;
}
