.formControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.formControl label {
  margin-bottom: 0.6em;
  font-weight: bold;
}
.formControl select {
  width: 40%;
  padding: 0.7em;
  border-radius: 0;
  border: none;
}
