.newProjectContainer {
  min-height: 100vh;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}
.newProjectContainer h1 {
  margin-bottom: 0.5em;
}

.newProjectContainer p {
  color: #393939;
}
.formContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .newProjectContainer {
    width: 100%;
    padding: 0.6em;
  }
  .newProjectContainer h1 {
    margin-bottom: 0.2em;
    text-align: center;
  }
  .newProjectContainer p {
    display: none;
  }
}
